html{
    height: 100%;
}

body{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    align-items: center;
    justify-items: center;
    
}

.main_board{
    display: grid;
    height: 70vh;
    border: 1PX solid black;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(8,1fr);
    aspect-ratio: 1/1;
    

}


.chess_position_w{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chess_position_b{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red{
    background-color: red;
}

.chess_piece{
    aspect-ratio: 1/1;
  
}


@media screen and (max-width : 1070px) {
    .main_board{
        height: 70vw;
    }

}


@media screen and (max-width : 600px) {
   
    .chess_piece{
        width: 32px;
        height: 32px;
    }
}